@charset "UTF-8";

body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(63, 97, 78);
}

h1#principal {
    text-align: center;
    background-color: rgb(63, 97, 78);
    color: white;
}

h2 {
    color: rgb(132, 173, 132);
}

.basico {
    color: darkgreen;
    font-weight: bolder;
}
.intermediario {
    color: yellow;
    font-weight: bolder;
}
.avancado {
    color: brown;
    font-weight: bolder;
}

.destaque {
    background-color: rgba(153, 205, 50, 0.5);
}