    @charset "UTF-8";
    
    body{
            background-color: rgb(36, 90, 72);
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 20px;
        }

        h1{
            color: maroon;
            background-color: rgb(121, 107, 72);
        }

        h2{
            color: rgb(37, 117, 192);

        }

        p {
            text-align: justify;
        }